/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Custom CSS*/
#container {
    width: 900px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

#create-todo-form, 
#filter-todos-form,
#new-project-form {
    display: flex;
    gap: 1rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}

button {
    height: fit-content;
    align-self: flex-end;
}

.todo-list-item,
.project-list-item {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.hidden {
    display: none;
}

#edit-todo-form {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.full-row {
    grid-column: span 2;
}